  #block1
        {
            position:fixed;
            padding:0px;
            margin:0px;
            display:block;
            height:100vh;
             width:100vw;

        }

        .input
        {
            border:none;
            border-radius:20px;
            font-size:2.5vw;
        }
        select,option
        {
            font-size:1vw;
        }
        table td
        {
            padding:20px;
        }
        #button
        {
            display:block;
            border:1px solid black;
            width:20%;
            padding:10px;
            border-radius:10px;
            text-align:center;
            margin:auto;
            cursor:pointer;

            background:black;
            font-family:'Andika';
            font-size:1.5vw;
            font-weight:500;
            color:white;
        }
        .btn:hover
        {
            color:white;
            transform:scale(1.01);
        }
        #div12
        {
        position:relative;
        top:30%;
        width:100%;
        }
        .select
        {
            background:black;
            color:white;
            font-size:1.1vw;
            border-radius:10px;
            padding:5px;
        }
        body
        {
            background:url(vijay2.jpeg);
            background-repeat:no-repeat;
            background-size:cover;
            margin:0px;
            padding:0px;
            width:100vw;
            height:100vh;
        }
        #head
        {
            color:white;
            position:relative:
            left:-100px;
             font-family: 'Andika';
            padding-left:3vw;
        }