<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- <add key="grant_type" value="password" />
    <add key="authtokenusername" value="crewlink1" />
    <add key="authtokenpwd" value="crewlink1" />
    <add key="authtokenapi" value="http://localhost:58491/Api/GenerateAuthToken" />
    <add key="authtokenapi" value="http://192.168.10.10:9092/Api/GenerateAuthToken" />
    <add key="ADDomain" value="10.100.100.13" />
    <add key="ADIsActive" value="0" /> -->
    <!-- <add key="Stackify.ApiKey" value="5Cn5Ji2Bv8Nn4Rt2Qu8Ji0Fi0Yq2Kc5Tf8Zj3Xr" /> -->
    <!-- <add key="Stackify.AppName" value="Crewlink" /> -->
    <!-- environment optional - inferred by Stackify if running on a monitored server -->
    <!-- <add key="Stackify.Environment" value="Local" /> -->
    <add key="SqlCommandTimeOut" value="600" />
  </appSettings>
  <system.web>
    <globalization culture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="512000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CLDBEntities" connectionString="metadata=res://*/Models.DB.CLDBEntityDataModel.csdl|res://*/Models.DB.CLDBEntityDataModel.ssdl|res://*/Models.DB.CLDBEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.10\MSSQLSERVER01;initial catalog=CrewLink.Prod.Latest;persist security info=True;user id=crewlinkadmin;password=admin@crew2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppDb" connectionString="Data Source=192.168.10.10\MSSQLSERVER01;Initial Catalog=MLink.Development;persist security info=True;user id=crewlinkadmin;password=admin@crew2;" providerName="System.Data.SqlClient" />
    <add name="ImagesDb" connectionString="Data Source=192.168.10.10;Initial Catalog=P360_Images_IFS_UAT;persist security info=True;user id=crewlinkimageadmin;password=admin@crew2;" providerName="System.Data.SqlClient" />
    <!-- Prod -->
    <!--<add name="CLDBEntities" connectionString="metadata=res://*/Models.DB.CLDBEntityDataModel.csdl|res://*/Models.DB.CLDBEntityDataModel.ssdl|res://*/Models.DB.CLDBEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MearsHouSQL02;initial catalog=CrewLink_2;persist security info=True;user id=crewlink;password=Pr0je3ct$360;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Dev -->
    <!-- <add name="CLDBEntities" connectionString="metadata=res://*/Models.DB.CLDBEntityDataModel.csdl|res://*/Models.DB.CLDBEntityDataModel.ssdl|res://*/Models.DB.CLDBEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ifskcdev01;initial catalog=CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CLDBEntities" connectionString="metadata=res://*/Models.DB.CLDBEntityDataModel.csdl|res://*/Models.DB.CLDBEntityDataModel.ssdl|res://*/Models.DB.CLDBEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ifskcdev01;initial catalog=Test-CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Local -->
    <!--<add name="CLDBEntities" connectionString="Server=localhost;Database=Crewlink;Trusted_Connection=True;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=MearsHouSQL02;Initial Catalog=CrewLink_2;persist security info=True;user id=crewlink;password=Pr0je3ct$360;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="AppDb" connectionString="Data Source=ifskcdev01;Initial Catalog=CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=ifskcdev01;Initial Catalog=Test-CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=ifskcdev01;Initial Catalog=CrewLink_2_Sick_Leave;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=IFSHOUWEB02;Initial Catalog=CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=IFSHOUWEB02;Initial Catalog=CrewLink_2;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppDb" connectionString="Data Source=ifskcdev01;Initial Catalog=Crewlink_IntegrationTests;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ImagesDb" connectionString="Data Source=ifskcdev01;Initial Catalog=P360_Images;persist security info=True;user id=crewlink;password=crewlink;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ImagesDb" connectionString="Data Source=IFSHOUWEB02;Initial Catalog=P360_Images;persist security info=True;user id=crewlink;password=Pr0je3ct$360;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ImagesDb" connectionString="Data Source=IFSKCDEV01;Initial Catalog=P360_Images;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!--<smtp from="templatetesting001@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="CrewLink2Exports_PSIOG" password="0x74656D706C61746574657374696E67" enableSsl="true" />
      </smtp>-->
      <smtp from="CrewLink2Exports@infrasourceinc.com">
        <network host="mail.quantaservices.com" port="25" userName="CrewLink2Exports" password="0x5330757263656365" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 141062B6-9C2A-4AB4-9275-65E73853BD5D-->